<header>
	<h1>Welcome</h1>
</header>

<main class="main" role="main">
  <header>
  	<h2>What We Do</h2>
  </header>
  
  <section id="learn_more">
  	<%= link_to "Learn More", 'pages#learn' %>
  </section>
  
  <section id="discover">
		Discover
	</section>
</main>

<footer>Footer Here</footer>